.ad {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-weight: bold;
    text-align: left;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

iframe {
  border: none
}